{% extends "base.html" %}

{% block title %}Transaction History - ViaVia{% endblock %}

{% block content %}



<!-- Container for Content Box -->
<div class="container-fluid d-flex justify-content-center align-items-center" 
     style="min-height: calc(100vh - 1400px); margin-top: 0px; margin-bottom: 0px;">
   
    <div class="content-box content-box-common p-5" style="max-width: 1200px;">


                
        
        <h2 class="section-title">Transaction History</h2>


        <!-- Transaction History Table -->
        {% if transactions %}
            <table class="table table-striped">
                <thead>
                    <tr style="color: #3D875F; font-weight: bold;">
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Itinerary</th>
                        <th scope="col">Counterparty</th>
                        <th scope="col">Amount (€)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transactions %}
                    <tr style="color: {% if item.type == 'purchase' %}red{% else %}green{% endif %};">
                        <td>{{ item.transaction.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                        <td>{{ 'Purchase' if item.type == 'purchase' else 'Sale' }}</td>
                        <td>
                            <a href="{{ url_for('main.view_listing', listing_id=item.transaction.listing.listing_id) }}" 
                               style="text-decoration: none; color: #3D875F; font-weight: bold;">
                                {{ item.transaction.listing.listing_name }}
                            </a>
                        </td>
                        <td>
                            {% if item.type == 'purchase' %}
                                {{ item.transaction.listing.user.username }}
                            {% else %}
                                {{ item.transaction.user.username }}
                            {% endif %}
                        </td>
                        <td>{{ item.transaction.price_transaction }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center text-muted mt-5">No transactions found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
