<form action="{{ url_for('main.edit_profile') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" required>
    
    <label for="phone_number">Phone Number:</label>
    <input type="tel" id="phone_number" name="phone_number" value="{{ user.phone_number }}">
    
    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" value="{{ user.date_of_birth|default('', true) }}">

    <button type="submit">Update Profile</button>
</form>
