<div class="col">
    <a href="{{ url_for('main.view_listing', listing_id=listing.listing_id) }}" class="text-decoration-none listing-card">
        <div class="card h-100 listing-card-container {% if additional_class %}{{ additional_class }}{% endif %}">
            <div class="card-body text-center">
                <h5 class="card-title listing-card-title">
                    {{ listing.listing_name }}
                </h5>
                {% if show_location %}
                <p class="card-text listing-card-location">
                    <i class="fas fa-map-marker-alt"></i> {{ listing.place }}
                </p>
                {% endif %}
                {% if show_provider %}
                <p class="card-text listing-card-provider">
                    <i class="fas fa-user"></i> {{ listing.user.username }}
                </p>
                {% endif %}
                <p class="card-text listing-card-price">€{{ listing.price_listing }}</p>
            </div>
            {% if show_heart_button %}
            <div class="card-footer bg-transparent border-top-0 d-flex justify-content-center align-items-center">
                <button class="btn btn-light" style="border: none;" onclick="likeListing({{ listing.listing_id }})">
                    <i class="fas fa-heart" style="color: #3D875F;"></i>
                </button>
                <span style="margin-left: 5px; color: #3D875F; font-weight: bold;">{{ listing.like_count }}</span>
            </div>
            {% endif %}
        </div>
    </a>
</div>