{% extends "base.html" %}
{% block content %}



<div class="container-fluid d-flex justify-content-center align-items-start" 
     style="min-height: calc(100vh - 140px); padding-top: 50px;">

    <div class="content-box content-box-common p-5" style="max-width: 800px;">

        <h1 class="mb-4" style="color: #3D875F;">Your Wallet</h1>
        <p>Balance: €{{ wallet_balance|round(2) }}</p>
        <a href="{{ url_for('main.recharge_page') }}" class="btn btn-primary">
            Recharge Wallet
        </a>
    </div>
</div>
{% endblock %}
